<link rel="alternate" type="application/rss+xml" 
   href="/feed/karim/" title="RSS feed for My Page">

<a href="/page/karim/">Page</a>
<a href="/feed/karim/" type="application/rss+xml">Karim's feed</a>
<a href="/login/">login</a>
<a href="/logout/">logout</a>
<a href="/add/">Add</a>

<div class="content">
Did you read the Diceman ? If not, you have to know that it's the story of a guy who decides
to play everything with a dice. I feel a little anxious at the idea of doing something like
that, but I thought "what if I had to do a random action, something incongruous, to get 
me out of my confort zone ?", and thus fuzzr was born.
</div>
